<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            .form-control {
                background-color: #f8f5f5;
            }
        </style>
    {% endblock %}

    <title>{% block title %}Symfony 4 course app - video sharing service{% endblock %}</title>

</head>

<body class="text-center">
<div class="container-fluid">
    {% block menu %}
        {{ include('includes/_menu.html.twig') }}
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block footer_links %}
        {{ include('includes/_footer_links.html.twig') }}
    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>