{% extends 'admin/base.html.twig' %}
{% block mainadmin %}
<h2>Editing category</h2>

<form action="{{ path('update_category', {'id': category.id}) }}" method="POST">
    <input type="text" name="name" class="form-control is-invalid" id="validationServer01" placeholder="Category name" value="{{ category.name }}" required>
    <br>
    <label for="inlineFormCustomSelect">Parent:</label>
    <select name="parent" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        {{render(controller('App\\Controller\\AdminController::getAllCategories', {'editedCategory':category}))}}
    </select>
    <button class="btn btn-primary mt-3" type="submit">Save</button>

</form>
{% endblock %}
